#navbar
{
    border: 1px solid red;
    padding: 10px;
    margin-bottom:20px;
    
}

#options
{
    display: flex;
    justify-content:space-between;
    gap:20px;
    margin:auto;
    width:80%;
    
}